<ion-view title='Home<a ui-sref="home"><img class="title-image" src="img/logoAV5.png" /></a>'style="background-color:#E2D9D9;">
<!--<ion-view title="Home" id="page16" > style="background-color:#E2D9D9-->
    <ion-content padding="true" class=" manual-remove-top-padding has-header" >
<div>

<div class="card">
  <div class="item item-divider"style="background-color:#387ef5;">
   <p style="color:black">Manutenções</p>
  </div>
  <div class="item item-text-wrap"   >
    <p style="color:black">{{textoManutencao}}</p>
  </div>
</div>

<div class="card" >
  <div class="item item-divider" style="background-color:#387ef5;">
   <p style="color:black">Óleo do Motor</p>
  </div>
  <div class="item item-text-wrap"  >
    <p style="color:black">{{textoOleo}}</p>
  </div>
</div>

<div class="card" >
  <div class="item item-divider" style="background-color:#387ef5;">
   <p style="color:black">Radiador</p>
  </div>
  <div class="item item-text-wrap" >
    <p style="color:black">{{aguaRadiador}}</p>
  </div>
</div>

<div class="card" >
  <div class="item item-divider" style="background-color:#387ef5;">
   <p style="color:black">Filtro de Ar</p>
  </div>
  <div class="item item-text-wrap"  >
    <p style="color:black">{{filtroDeAr}}</p>
  </div>
</div>

</div>
    </ion-content>
</ion-view>