<ion-view title="Relatório Manutenções" id="page21" style="background-color:#E2D9D9;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list" >

            <div class="item item-divider">
                Manutencões Realizadas
            </div>
                <a class="item" href="#" ng-repeat="manutencao in listaManutencao.tipoManutencao">
                {{manutencao.ds_manutencao}}
                </a>
         </div>
            
        
        </ion-content>
</ion-view>
