<ion-view title="Sobre" id="page18" style="background-color:#E2D9D9;" class=" ">
    <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 10px; height: 10px;"></div>
<div class="card">
  <div class="item item-text-wrap">
   <div style="text-align:center;">Assistente Veicular</div><br>
   <div>
     <p  style=text-align:justify> 
     O aplicativo é um gerenciador de datas das manutenções preventivas do seu veículo, onde 0 proprietário será alertado das manutenções que o veículo precisa, garantindo assim o melhor desempenho e extensão de  vida util do veículo.<br>
   Este aplicativo foi desenvolvido por uma equipe de formandos do curso técnico de informática da ETEC Dra Ruth Cardoso, como projeto de conclusão de curso, no entanto, a equipe concordou em continuar com o projeto e desenvolver um aplicativo que possa realmente ser útil para ao usuário.
   Foi então formado uma sociedade empresária com o objetivo de desenvolver projetos de negócios que possam também unir a relevância social e ambietal.</div>
     </p>
  </div>
</div>
<div class="spacer" style="width: 3px; height: 3px;"></div>
<div class="card">
   <div class="item item-text-wrap"> 
  <center><a class="button button-small button-positive button-positive icon ion-social-facebook"  href="#"  onclick="window.open('https://www.facebook.com/AssistenteVeicularOficial/timeline')">   Facebook </a>
  <a class="button button-small button-calm button-calm  icon ion-social-twitter" href="#" onclick="window.open('https://twitter.com/Oficial_AV')">Twitter</a>
  <a class="button button-small button-calm button-assertive icon ion-social-google"  href="#" onclick="window.open('https://plus.google.com/u/0/112748437354544679938?hl=pt-BR')">Google+</a></center>
  <br>
  <center> assistenteveicularoficial@gmail.com </center>
<!--  <a class="button button-calm button-dark" href="#" onclick="window.open('assistenteveicularoficial@gmail.com')">Email</a>
 -->
  </div>  
    </ion-content>
</ion-view>


